footer,header {
    background:lightgray;
  }
  

footer .things{
    display: inline-flex;
    padding-right: 10px;
}

.things .child{
    background: #a2a1a1;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold
}