@font-face {
    font-family: 'RMTyperighter';
    src: url(font/larabiefontrg.ttf) format('truetype');
}

html, body{
    font-family: 'RMTyperighter' !important;
}

body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
    height: calc(100vh - 19px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}


/* Other Styles */
.vex.vex-theme-wireframe .vex-content {
    font-family: 'RMTyperighter' !important;
}

.kool-button-black{
    background: #000;
    color: #fff;
    border: 2px solid transparent;
    padding: .75em 2em;
    cursor: pointer;
    font-family: RMTyperighter;
}

.kool-button-white{
    background: #fff;
    color: #000;
    border: 2px solid transparent;
    padding: .75em 2em;
    cursor: pointer;
}

